.project-content{
    height: auto;
    background-color: #e1dcdca7;
    align-items: center;
    margin: 2rem auto 5rem auto;
    padding: 3rem 0;

}
.project-content .left img{
    width: 90%;
    margin: auto;
}
.title, .tool{
    margin-bottom: 0.5rem;
    font-size: 18px !important;
}
.tool{
    margin-top: 1rem;
}
.desc{
    width: 90%;
}
.view{
    width: 90%;
    display: flex;
    gap: 2rem; 
    margin-top: 2rem;
}
.url, .code{
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 5px 10px;
    background-color: #999;
    color: #fff;
    border-radius: 10px;
    transition: .5s ease-in-out;

}
.url:hover, .code:hover{
    background-color: #fff;
    color: #999;
}
