.about{
    padding-top: 5rem;
}
.heading{
    text-align: center;
}
.about .h1{
    color: #DE3163;
    font-weight: 600;
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: 1rem;
}
.icon{
    color: #999 !important;
    margin-bottom: 0rem !important;
    font-size: 25px !important;
}
.about-content{
    width: 90%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.about-content .left, .about-content .right{
    width: 50%;
}
.about1 .left{
    width: 30%;
}
 .about1 .right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about1 .left img{
    width: 80%;
    margin: auto;
}
.about-content p{
    font-size: 16px;
    line-height: 24px;
}


@media screen and (max-width:1000px) {
    .about-content{
        flex-direction: column;
    }
    .about-content .left, .about-content .right{
        width: 95%;
        margin: auto;
    }
    .about-content p{
        text-align: center;
    }
    .about1 .left img{
        border-radius: 50%;
        margin-bottom: 2rem;
        width: 200px;
    }
     .about1 .right{
        width: 95%;
        display: block;
    }
}